<!DOCTYPE html>
<html lang="es">
<head>
    <title>perros calientes</title>
    <meta name="perros calientes" content="apriende como hacer un perro caliente de calidad">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/estilos.css" media="all" >
    <meta name="robots" content="index,follow">
    <meta name="Keywords" content="perros calientes,comida,cocina,hot dogs">
    <meta name="locality" content="alicante,España,europa,">
    <meta name="revisit-after" content="7 days">
    <meta name="category" content="Spanish, Spain, Viajes y turismo">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body>
    <section>
        <div class="title">
        <img src="../imagenes/title.jpg" alt="title" width="200" height="200">
        
        <div class="kfc">
            KFC
        </div>
        <div class="escrita">
        Krocodile perritos calientes
    </div>
</div>
       

    </section>

   
        <div class="menu">
            <a href="../index.html" class="enlaces">inicio</a>

            <a href="productos.html" class="enlaces1">productos</a>

            <a href="contactos.html" class="enlaces">contactos</a>

            <a href="presupuestos.html" class="enlaces">presupuestos</a>

        </div>


    <h1 class="escritapro">NUESTRAS FRANQUICIAS EN EL MUNDO...</h1>

    <div class="productos"> 
        
       <div class="imgpro"> <img src="../imagenes/1tienda.jpg" alt="tienda"  width="360" height="360">
        <p>Charleston, Carolina del Sud</p>
    </div>

      
       <div class="imgpro"> 
          <img src="../imagenes/2tienda.jpg" alt="tienda2" width="360" height="360">
      <p>    Asheville, Carolina del Nord</p>
        </div>

          <div class="imgpro"> 
          <img src="../imagenes/3tienda.jpg" alt="tienda3"   width="360" height="360">
        <p>  Sedona, Arizona</p>
        </div>

          <div class="imgpro"> 
        <img src="../imagenes/4tienda.jpg" alt="tienda4"   width="360" height="360">
       <p> Savannah, Georgia</p>
    </div>

       </div>











    <footer>
        <div class="pie">
            <h2>siguenos en las redes sociales</h2>
            <a href="https://es-es.facebook.com/login.php/"> <img src="https://z-m-static.xx.fbcdn.net/rsrc.php/v3/yD/r/5D8s-GsHJlJ.png" alt="facebook" class="fb"  width="85" height="60"></a>
                <a href="https://www.instagram.com/"> <img src="https://static.vecteezy.com/system/resources/previews/024/170/864/original/instagram-icon-logo-symbol-free-png.png" 
                    alt="instagram" class="ig"   width="85" height="60"></a>
                    <p>© 2024 KPC. Todos los derechos reservados.</p>
        <p>La información proporcionada en este sitio es solo con fines informativos. 
            No nos hacemos responsables de posibles errores, omisiones o daños derivados del uso de la información presentada.</p>

        </div>
    </footer>

    </body>